/* Hero Banner */

h2 {
  margin-top: 50px;
  margin-bottom: 20px;
}
.banner-cover-pc {
  background-image: 'url("https://i.ibb.co/K7t0c10/bannerstuff.jpg")';
  background-size: 'cover';
};
.bannerCoverMobile {
  background-image: 'url("https://i.ibb.co/K7t0c10/bannerstuff.jpg")';
  background-size: 'cover';
};
.textBanner {
  text-shadow: "3px 3px 3px grey";
  text-align: 'center';
  color:'white';
};
.centerButtons {
  text-align: 'center';
  padding: '30px';
};
.titleH1Pc {
  font-size: '80px';
};
.titleH1Mobile {
  font-size: '60px';
};
.row {
  margin-top: 50px;
  margin-bottom: 50px;
}
.card {
  object-fit: cover;
  border: solid;
  border-width: 5px;
  border-color: #FFBEBE;
  display: block;
  margin-top: 20px;
  margin-bottom: 50px;
  color: white;
}