/* Hero Banner */

.banner-cover-pc {
  background-image: 'url("https://i.pinimg.com/564x/a2/cb/ec/a2cbec977b18206893249793c67cd594.jpg")';
  background-size: 'cover';
};
.bannerCoverMobile {
  background-image: 'url("https://i.pinimg.com/564x/a2/cb/ec/a2cbec977b18206893249793c67cd594.jpg")';
  background-size: 'cover';
};
.textBanner {
  text-shadow: "3px 3px 3px grey";
  text-align: 'center';
  color:'white';
};
.centerButtons {
  text-align: 'center';
  padding: '30px';
};
.titleH1Pc {
  fontsize: '80px';
};
.titleH1Mobile {
  font-size: '60px';
};
.row {
  margin-top: 50px;
  margin-bottom: 50px;
}