h1: {
    textAlign: 'center',
    padding: '30px'
  },
  images: {
    width: '30px'
  },
  checkoutBtn: {
    textAlign: 'right'
  },
  btnIncrement: {
    color: '#072a48',
    backgroundColor: 'white',
    border: 'solid',
    borderColor: '#072a48',
    width: '30px',
    cursor: 'pointer',
    borderWidth: '0.1ex'
  },
  btnDelete: {
    color: 'white',
    backgroundColor: '#072a48',
    border: 'solid',
    borderColor: '#072a48',
    width: '30px',
    cursor: 'pointer',
    borderWidth: '0.1ex'
  },
  containerPadding: {
    paddingTop: '70px',
    paddingBottom: '150px'
  }
}