.header-container {
    background-color: rgba(212, 212, 212, 0.815);
}
.header-wrapper {
    position: sticky;
    top: 0;
    z-index: 99;
  }
  
a {
    cursor: pointer;
    color: #fff;
}
.nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        cursor: pointer;
        margin: 10px;
        position: relative;
    
}
.nav-item::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #FFBEBE;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }
  
  @media (hover: hover) and (pointer: fine) {
    .nav-item:hover::before{
      left: 0;
      right: auto;
      width: 100%;
    }
  }

.nav-item:hover {
-webkit-transition: all 900ms ease;
-moz-transition: all 900ms ease;
-ms-transition: all 900ms ease;
-o-transition: all 900ms ease;
transition: all 900ms ease;
}